.flex-container {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.jd-header .logo {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  color: #e893a0;
}

a.navbar-item:hover.logo,
a.navbar-item:hover {
  color: #6e9eb7;
}

.jd-header .navBarLink {
  font-size: 20px;
  color: rgba(40, 38, 38, 0.769);
}

.footer {
  padding: 10px;
  text-align: center;
}
