* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Cambria, Cochin, Georgia, Times, Times New Roman, serif";
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
